.hero {
    background: url("../images/hero-bg.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 130px;

    @media (max-width: 430px) {
        background: url("../images/hero-bg-mob.jpg") no-repeat;
        background-size: cover;
        padding-bottom: 292px;
    }

    &__main {
        max-width: 540px;
    }

    &__header {
        padding: 26px 0;

        @media (max-width: 430px) {
            padding: 18px 0;
        }
    }

    &__logo {
        @media (max-width: 430px) {
            width: 212px;
            height: auto;
        }
    }

    &__title {
        margin-top: 33px;
        margin-bottom: 26px;

        @media (max-width: 430px) {
            margin-top: 20px;
        }
    }

    &__text {
        margin-bottom: 40px;
        font-size: 18px;
        text-align: center;

        @media (max-width: 430px) {
            text-align: start;
            line-height: 1.3;
            margin-bottom: 29px;
        }
    }

    &__buttons {
        display: flex;
        gap: 16px;

        @media (max-width: 600px) {
            flex-direction: column;
            gap: 14px;
        }

        @media (max-width: 430px) {

        }

        .button {
            flex: 1;
        }
    }
}
